*.iml
*.apk
*.ap_
*.aab
*.dex
*.class
.gradle
.jks
.keystore
.navigation/
vcs.xml
/bin/
/gen/
captures/
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/'.idea' 
